@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: black;
    background-color: #FDDDE6;
    font-family: "Chewy", sans-serif;
}

.header-nv {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #F7A6B9;

}

.header-nv div {
    display: flex;
    margin-right: 15px;
}

.header-nv img {
    border-radius: 100px;
    width: 75px;
    height: 75px;
}


ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #F7A6B9;
}

li {
    background-color: #F7A6B9;
}

/* MAIN */

/* SECTIONS */

/* Carretel */
.carretel{
  overflow: hidden;
  width: 100%;
}

.carretel-imagens{
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: max-content;
}

.carretel-imagens img{
    height: auto;
    width: 300px;
    flex-shrink: 0;
}

/* bem-vindos */
.bemvindos-section{
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    top: 100px;
}

.bemvindos-section-montycand{
    display: flex;
    flex-direction: column;
    font-size: 75px;
    margin-left: 95px;
}

.bemvindos-section-candy{
    color: #F7A6B9;
    margin-left: 55px;
}

.bemvindos-section-monty{
    color: #5C3A2E;
}

.brigadeiro-bemvindo{
    width: 350px;
    height: 350px;
    border-radius: 100px;
    margin-left: 0;
}